<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li
                    role="presentation"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <a routerLink="/">Home</a>
                </li>
                <li role="presentation" routerLinkActive="active">
                    <a routerLink="/one">Page One</a>
                </li>
                <li role="presentation" routerLinkActive="active">
                    <a
                        [routerLink]="['user', 4]"
                        [queryParams]="{ age: '26' }"
                        fragment="loadinggg"
                    >
                        User, Id:Params = 4, Age:Query = 26, Freagment =
                        Loadinggg
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-2">
            <button class="btn btn-primary" (click)="onButtonClick()">
                User, Id:Params = 1, Age:Query = 22, Freagment = Loading
            </button>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
